@using Microsoft.AspNet.Identity
<ul class="navbar-nav ml-auto ml-md-0" style="float:right;">
    <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @User.Identity.GetUserName() <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right navbar-form" }))
                {
                    @Html.AntiForgeryToken()
                    <span>
                        <a stlye="outline: none;" class="btn btn-default navbar-btn" href="javascript:document.getElementById('logoutForm').submit()">
                            <i class="fas fa-power-off fa-fw"></i>
                            Log out
                        </a>
                    </span>
                }
            }
        </div>
    </li>
</ul>
