
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="view">
    <div class="d-sm-flex align-items-center mb-4">
        <h1 class="h2 mb-0 text-grey-800">Availability</h1>
    </div>
    <div class="row" style="justify-content: center">
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <calendar-component 
                    v-on:on-months-change="onMonthsChange"
                    :data="bookings"
                />
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/availability/Index")
}

