
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="edit">
    <div class="d-sm-flex align-items-center mb-4">
        <h1 class="h2 mb-0 text-gray-800">Contract</h1>
        <div style="margin-left: 5px">
            <button class="btn btn-info btn-sm" v-on:click="window.location.href = baseUrl + 'Contracts/';">Back to list</button>
            <button class="btn btn-primary btn-sm" v-on:click="save">Save</button>
        </div>
    </div>
    <div class="row" style="justify-content: center">
        <div class="col-xl-6 col-lg-6 col-sm-6">
            <div class="card mb-4">
                <div class="card-header theme-background">
                    Basic info
                </div>
                <div class="card-body">
                    <div class="row" style="justify-content: center">
                        <div class="form-group col-lg-4">
                            <label>Paying passenger</label>
                        </div>
                        <div class="form-group col-lg-3">
                            <input placeholder="Enter full name" class="text-input" type="text" v-model="contract.payingPassenger" />
                        </div>
                    </div>
                    <div class="row" style="justify-content: center">
                        <div class="form-group col-lg-4">
                            <label>Price</label>
                        </div>
                        <div class="form-group col-lg-3">
                            <input placeholder="Enter price" class="text-input" type="number" v-model="contract.price" />
                        </div>
                    </div>
                    <div class="row" style="justify-content: center">
                        <div class="form-group col-lg-4">
                            <label>Discount(percentage)</label>
                        </div>
                        <div class="form-group col-lg-3">
                            <input placeholder="Enter discount" class="text-input" type="number" v-model="contract.discount" />
                        </div>
                    </div>
                    <div class="row" style="justify-content: center">
                        <div class="form-group col-lg-4">
                            <label>Contract type</label>
                        </div>
                        <div class="form-group col-lg-3">
                            <select class="select" v-model="contract.type">
                                <option :value="undefined" disabled>Select type</option>
                                <option 
                                    v-for="type in Object.keys(enums.contractType)" 
                                    :value="enums.contractType[type]"
                                >
                                    {{ enums.contractType[type] }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="justify-content: center">
                        <div class="form-group col-lg-4">
                            <label>APA</label>
                        </div>
                        <div class="form-group col-lg-3">
                            <input placeholder="Enter APA" class="text-input" type="number" v-model="contract.apa" />
                        </div>
                    </div>
                    <div class="row" style="justify-content: center">
                        <div class="form-group col-lg-4">
                            <label>Tax(percentage)</label>
                        </div>
                        <div class="form-group col-lg-3">
                            <input placeholder="Enter tax" class="text-input" type="number" v-model="contract.tax"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/contracts/Edit")
}